@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
<div>
    <form asp-action="ForgotPassword" method="post">
        <div>
            <h2>Forgot Password</h2>
        </div>
        <div>
            <div asp-validation-summary="All"></div>
        </div>
        <div>
            <div>
                <div class="field">
                    <label asp-for="Email"></label>
                </div>
                <div>
                    <input asp-for="Email" />
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Send Restore Password Email" />
        </div>
    </form>
</div>