@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}


<div>
    <form asp-action="ResetPassword" method="post">
        <div>
            <h2>Reset Password</h2>
        </div>
        <div>
            <div asp-validation-summary="All"></div>
        </div>
        <div>
            <div>
                <div class="field">
                    <label asp-for="Password"></label>
                </div>
                <div>
                    <input asp-for="Password" />
                </div>
            </div>

            <div>
                <div class="field">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <div>
                    <input asp-for="ConfirmPassword" />
                </div>
            </div>

            <div>
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />
            </div>
        </div>
        <div>
            <input type="submit" value="Change" />
        </div>
    </form>
</div>